{% extends 'App::layout.html.twig' %}

{% block subtitle 'Homepage' %}

{% block head_javascripts %}
<script src="{{ asset('components/angularjs/angular.min.js')}}"></script>
<script src="//connect.soundcloud.com/sdk.js"></script>

{% endblock %}

{% block content %}
    <div class="row" ng-controller="PlayCtrl">
        <div class="col-md-2">
            <div class="play-control affix">
                <p>{% verbatim %}{{ playing.title }}{% endverbatim %}</p>

                <img class="img-polaroid" src="{% verbatim %}{{ playing.artwork_url }}{% endverbatim %}" />
                <br />

                <button class="btn btn-default btn-mini"><i class="glyphicon glyphicon-backward"></i> </button>
                <button class="btn btn-default btn-mini" ng-click="pause()"><i class="glyphicon glyphicon-pause"></i> </button>
                <button class="btn btn-default btn-mini" ng-click="play()"><i class="glyphicon glyphicon-play"></i> </button>
                <button class="btn btn-default btn-mini"><i class="glyphicon glyphicon-forward"></i> </button>
            </div>
        </div>
        <div class="col-md-10">
            <form class="form-inline" ng-submit="search()">
                <input type="text" class="form-control" ng-model="q" placeholder="Search for your favorite song...">
            </form>
            <table class="table">
                <tr ng-repeat="result in search_results">
                    <td style="width: 120px;">
                        <img class="img-polaroid" src="{% verbatim %}{{ result.artwork_url }}{% endverbatim %}" />
                    </td>
                    <td>
                        <h4>
                            <span class="pull-right">
                                <small>{% verbatim %}{{ result.streamable }}{% endverbatim %}</small>
                            </span>
                            {% verbatim %}{{ result.title }}{% endverbatim %}
                            <small>{% verbatim %}{{ result.duration }} seconds{% endverbatim %}</small>
                        </h4>
                        <p>{% verbatim %}{{ result.description }}{% endverbatim %}</p>
                        <img src="{% verbatim %}{{ result.waveform_url }}{% endverbatim %}" style="height: 60px; width: 100%; background-color: #00283E;" />
                        <p>
                            <button class="btn btn-default btn-mini" ng-click="select(result)"><i class="glyphicon glyphicon-plus"></i> Add to queue</button>
                            <a class="btn btn-default btn-mini" target="_blank" href="{% verbatim %}{{ result.permalink_url }}{% endverbatim %}"><i class="glyphicon glyphicon-headphones"></i> Listen on soundcloud</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script>
        SC.initialize({
            client_id: '{{ soundcloud_client_id }}'
        });
    </script>
    <script src="{{ asset('bundles/app/js/riff.js')}}"></script>
{% endblock javascripts %}
