{% extends 'App::layout.html.twig' %}

{% block subtitle 'Homepage' %}

{% block head_javascripts %}
{# Does this go here? #}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="//connect.soundcloud.com/sdk.js"></script>

{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="pull-right">
            <img src="//developers.soundcloud.com/assets/powered_by_large_black.png" />
        </div>
        <h1>Welcome to Openriff! <small>The in-office dj platform</small></h1>
    </div>

    <div class="row-fluid" ng-controller="PlayCtrl">

        <div class="span2">
            <div class="play-control affix">
                <p>{% verbatim %}{{ playing.title }}{% endverbatim %}</p>

                <img class="img-polaroid" src="{% verbatim %}{{ playing.artwork_url }}{% endverbatim %}" />
                <br />

                <button class="btn btn-mini"><i class="icon icon-backward"></i> </button>
                <button class="btn btn-mini" ng-click="pause()"><i class="icon icon-pause"></i> </button>
                <button class="btn btn-mini" ng-click="play()"><i class="icon icon-play"></i> </button>
                <button class="btn btn-mini"><i class="icon icon-forward"></i> </button>
            </div>
        </div>
        <div class="span10">
            <form ng-submit="search()">
                <input class="span6" type="text" ng-model="q" placeholder="Search for your favorite song...">
            </form>
            <table class="table">
                <tr ng-repeat="result in search_results">
                    <td style="width: 120px;">
                        <img class="img-polaroid" src="{% verbatim %}{{ result.artwork_url }}{% endverbatim %}" />
                    </td>
                    <td>
                        <h4>
                            <span class="pull-right">
                                <small>{% verbatim %}{{ result.streamable }}{% endverbatim %}</small>
                            </span>
                            {% verbatim %}{{ result.title }}{% endverbatim %}
                            <small>{% verbatim %}{{ result.duration }} seconds{% endverbatim %}</small>
                        </h4>
                        <p>{% verbatim %}{{ result.description }}{% endverbatim %}</p>
                        <img src="{% verbatim %}{{ result.waveform_url }}{% endverbatim %}" style="height: 60px; width: 100%; background-color: #2a2a2a;" />
                        <p>
                            <button class="btn btn-mini" ng-click="select(result)"><i class="icon-plus"></i> Add to queue</button>
                            <a class="btn btn-mini" target="_blank" href="{% verbatim %}{{ result.permalink_url }}{% endverbatim %}"><i class="icon-headphones"></i> Listen on soundcloud</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script>
        SC.initialize({
            client_id: '{{ soundcloud_client_id }}'
        });
    </script>
    <script src="{{ asset('bundles/app/js/riff.js')}}"></script>
{% endblock javascripts %}
